<div class="search-bar">
  <form action="/special_offers" method="get" style="display: flex; justify-content: center; align-items: center;">
    <input class="searchbarinput" type="text" name="query" placeholder="Search location/craving/special...">
  </form>
  <input type="hidden" id="custId" name="custId" value="<%=@coordinates%>">
  <input type="hidden" id="custId" name="custId" value="<%=@restaurants%>">
</div>
