<div class="search-bar">
  <form action="/special_offers" method="get" style="display: flex; justify-content: center; align-items: center;">
    <input
        type="text"
        name="query"
        placeholder="Search location..."
        style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
    </form>
    <input type="hidden" id="custId" name="custId" value="<%=@coordinates%>">
  </div>
