<div class="container" data-controller='user-location'>
  <%= render 'search-index' %>
  <%= render "shared/map" %>
  <div class="vh-100 overflow-auto">
    <div class="text-center">
      <i class="fa-solid fa-chevron-up"></i>
    </div>
    <%= render "index-card" %>
  </div>
</div>
