<div class="map-container" data-controller='user-location'>
  <%= render 'search-index' %>


  

  <%= render "shared/map" %>
  <div class="text-center">
    <i class="fa-solid fa-chevron-up"></i>

  </div>

  <div class="card-holder">
    <%= render "index-card" %>
  </div>
</div>
