<div class="map-container" data-controller='user-location'>
  <%= render "shared/map" %>
  <div class="text-center">
  </div>
  <div class="card-holder">
    <%= render "index-card" %>
  </div>
</div>
