<div class="container">
  <div class="row mt-3">
    <div class="col">
      <%= image_tag "avatar.webp", alt: "avatar image", class: "avatar-large" %>
    </div>
    <div class="col">
      <h3>Hello <%= @user.username %>!</h3>
    </div>
  </div>
</div>
