<div class="container header-container">
  <div>
    <%= link_to special_offers_path do %>
      <%= image_tag "biteofflogo-sq.png", alt: "BiteOff Deals App", class: "header-logo  bg-white" %>
    <% end %>
  </div>
</div>
