<div class="index-map" style="width: 100%; display:flex; flex-grow: 1;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <%= render 'search-index' %>
</div>
