<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <div>
      <%= link_to root_path, class: "btn" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </div>
    <div>
      <%= link_to new_special_offer_path, class: "btn" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %></div>
    <div class="btn-group dropup dropstart">
      <i class="fa-solid fa-bars" data-bs-toggle="dropdown"></i>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        <li>User Profile</li>
        <li>Special Offer </li>
      </ul>
    </div>
  </div>
</nav>
