<div class="container" data-controller='user-location'>
  <h1>Welcome!</h1>
  <%= link_to "See specials around you!", special_offers_path, class: "btn btn-info", data: { user_location_target: 'link' } %>
</div>
