<div class="d-flex flex-column align-items-center justify-content-center text-center m-0 p-0">
  <div class=" h-50 w-100">
    <%= image_tag current_user_voted_location[0].restaurant.url,
                  class: "img-fluid rounded shadow default_offer-card",
                  alt: "#{current_user_voted_location[1].name}" %>
  </div>
  <div>
    <p><%= "#{current_user_voted_location[1].name} IS THE WINNER" %></p>
  </div>
  <%= link_to "GO NOW",
              "https://www.google.fr/maps/dir/?api=1&destination=#{current_user_voted_location[1].latitude},#{current_user_voted_location[1].longitude}",
              target: "_blank",
              class: "btn btn-primary btn-lg rounded-pill px-4" %>
</div>
<!-- Winner Title -->
<!-- Winner Image -->
