<h1>Voting Session Details</h1>
<h2>Special Offers:</h2>
<% @voting_session.special_offers.each do |offer| %>
  <li><%= link_to offer.category, special_offer_path(offer) %></li>
  <li><%= link_to offer.description, special_offer_path(offer) %></li>
<% end %>
</ul>
<h2>Friends in this Voting Session:</h2>
<%= current_user.username %>'s friend list
<% if current_user.friends %>
  <ul>
    <% current_user.friends.each do |friend| %>
      <li><%= friend.username %></li>
    <% end %>
  </ul>
<% else %>
  <p>No other friends in this voting session yet.</p>
<% end %>
