// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "card";
@import "default_offer";
@import "form_legend_clear";
@import "input_arrow";
@import "header";
@import "map";
@import "navbar";
@import "offer";
@import "sidebar";
@import "star";


html {
  max-width: 600px;
  margin:auto;
}

body {
  height:100vh;
  background-color: white;
}
