.offer-img-container {
    position:relative;
}
.restaurantbox {
    background-color: #FF8502;
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.carousel-inner{
    height: 200px;
}

.offer-card-container {
  color: #222222;
}
