.offer-img-container {
    position:relative;
}
.restaurantbox {
    background-color: #FF850290;
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.offerdetails{
    color: $orange
}

.carousel-inner{
    height: 200px;
}

