.voting-container {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friendslist {
  box-shadow: 0 0 5px #00000050;
  padding:0 20px;
  margin-bottom: 75px;
}

.friendslist-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
  margin-bottom: 10px;
}
// hi

.voting-btns {
  width: 100px;
}

.for-icon {
  color: white;
  background-color: $success;
  font-size: 2rem;
  margin-right: 1rem;
}

.against-icon {
  color: white;
  background-color: $danger;
  font-size: 2rem;
}

.selected {
  border: 1px solid black;
}

.unselected {
  background-color: darkgray;
}
